<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>809495505762-30qf7defgfoaachj9r8k8nr21k0899tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809495505762-30qf7defgfoaachj9r8k8nr21k0899tl</string>
	<key>GCM_SENDER_ID</key>
	<string>809495505762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>none.WTChat</string>
	<key>PROJECT_ID</key>
	<string>wtchat-aa5ec</string>
	<key>STORAGE_BUCKET</key>
	<string>wtchat-aa5ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:809495505762:ios:3e4c7c1149764a14</string>
	<key>DATABASE_URL</key>
	<string>https://wtchat-aa5ec.firebaseio.com</string>
</dict>
</plist>